.home-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 130%;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.home-subheader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: white;
    padding-bottom: 1%;
    text-align: center;
    margin: 0 auto;
    font-size: 70%;
}

.contact-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 1%;
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    font-size: 130%;
}

.navbar-container {
    position: fixed;
    top: 0;
    padding: 1%;
    background-color: rgb(65, 63, 63);
}

.about-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 1%;
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resume-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 1%;
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-text {
    font-size: 130%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-body {
    font-size: 130%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-btn {
    background-color: rgb(65, 63, 63);
    /*border-color: white;*/
    border-style: none;
}

.nav-lnk {
    text-decoration: none;
    color: white;
}

.nav-lnk:hover {
    color: cornflowerblue;
}

.home {
    width: 700px;
    margin: 0 auto;
}

.home-background {
    background-color: rgb(88, 87, 87);
    padding-top: 1%;
    padding-bottom: 1%;
}

.lnk-btns {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1%;
}

.fa-linkedin:hover {
    color: cornflowerblue !important;
}

.fa-github:hover {
    color: cornflowerblue !important;
}

.page-body {
    background-color: rgb(197, 193, 193);
}

/*https://www.usf.edu/engineering/cse/*/

