.home-header {
    font-family: "Times New Roman", Times, serif;
}

.home-subheader {
    font-style: italic;
}

.about-header {
    font-style: italic;
}

.contact-header {
    font-style: italic;
}

.resume-header {
    font-style: italic;
}