.home-header {
    font-family: "Times New Roman", Times, serif;
    font-size: 160%;
    width: 600px;
    margin: 0 auto;
    color: white;
}

.home-subheader {
    font-style: italic;
    color: white;
    padding-bottom: 1%;
}

.contact-header {
    width: 200px;
    margin: 0 auto;
    padding-top: 1%;
    font-size: 110%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    font-size: 130%;
}

.navbar-container {
    position: fixed;
    top: 0;
    padding: 1%;
    background-color: rgb(62, 62, 177);
}

.resume-container {
    width: 315px;
    margin: 0 auto;
}

.about-header {
    width: 170px;
    margin: 0 auto;
    padding-top: 1%;
    font-size: 110%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resume-header {
    width: 200px;
    margin: 0 auto;
    padding-top: 1%;
    font-size: 110%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-text {
    font-size: 130%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-body {
    font-size: 130%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-btn {
    background-color: rgb(62, 62, 177);
    border-color: white;
    border-style: double;
}

.nav-btn:hover {
    border-color: cornflowerblue;
}

.nav-lnk {
    text-decoration: none;
    color: white;
}

.home {
    width: 700px;
    margin: 0 auto;
}

.home-background {
    background-color: cornflowerblue;
    padding-top: 1%;
    padding-bottom: 1%;
}

.lnk-btns {
    width: 60px;
    margin: 0 auto;
    padding-bottom: 1%;
}

/*https://www.usf.edu/engineering/cse/*/

